<!DOCTYPE html>
<html>
<head>
  <title>DreambearApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <!-- Font Awesome -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="nav-section">
    <div class="sixteen columns nav-wrap">
      <div class="sixteen columns">
        <div class="logo">
          <%= image_tag('logo.png') %>
        </div>
        <div class="text-logo">
          <p>dreambear</p>
        </div>
      </div>
      <div class="sixteen columns">
        <nav>
          <ul>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to '+Collection', root_path %></li>
            <li><%= link_to 'Our Method', our_method_path %></li>
            <li><%= link_to 'Press', press_path %></li>
            <li><%= link_to 'Blog', root_path %></li>
            <li><%= link_to 'Collaborate', root_path %></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

<%= yield %>

  <div class="container">
    <div class="sixteen columns footer">
      <div class="left">
        <i class="fa fa-twitter-square fa-2x"></i>
        <i class="fa fa-facebook-square fa-2x"></i>
        <i class="fa fa-vimeo-square fa-2x"></i>
        <i class="fa fa-instagram fa-2x"></i>
        <i class="fa fa-google-plus-square fa-2x"></i>
        <i class="fa fa-linkedin-square fa-2x"></i>
      </div>
      <div class="right">
        <p class="legal">Copyright &#169; 2014 Dreambear <%= link_to 'contact us', collaborate_path, class: 'link' %></p>
      </div>
    </div>
  </div>

</body>
</html>
